{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<title>Contact</title> 
<section id="contact"> 
	<center> 
	<font size="6"> 
			
<p>CONTACT INFO</p> 

	</font> 
		<div class="contact-item"> 
			<h1>Phone Number</h1> 
			<h2>+91-7318716791</h2> 
		</div> 
		</div> 
		<div class="contact-item"> 
			<h1>Email</h1> 
			<h2>gsoumyajit180@gmail.com</h2> 
		</div> 
		</div> 
		<div class="contact-item"> 
			<h1>Address</h1> 
			<h2>Salboni, Bankura, West Bengal</h2> 
		</div> 
		</div> 
	</div> 
	</div> 
	</center> 
</section>
